{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/Bootstrap.min.css' %}">
</head>
<body>
    <div class="container">
        <h1 class="text-center alert alert-danger">Student Admin Dashboard</h1>
        <div class="row">
            <div class="col-3">
                <h3 class="alert alert-info">Add Student</h3>
                <form action="add" method="post">
                    {% csrf_token %}
                    <label >UserName</label>
                    {{form.name}}
                    <br>
                    <label>Course</label>
                    {{form.course}}
                    <br>
                    <label>City</label>
                    {{form.city}}
                    <br>
                    <button type="submit" class="btn btn-success">Add Student</button>

                </form>
            </div>
            <div class="col-9">
                <table class="table table-dark">
                    <tr>
                        <th>username</th>
                        <th>course</th>
                        <th>city</th>
                        <th>Action</th>
                    </tr>
                    <tr>
                        {% for i in Student %}
                        <td>{{i.name}}</td>
                        <td>{{i.course}}</td>
                        <td>{{i.city}}</td>
                        <td>
                            <a href="edit/{{i.id}}" class="btn btn-warning btn-sm">Edit</a>
                            <a href="delete/{{i.id}}" class="btn btn-danger btn-sm">Delete</a>
                        </td>
                        
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>       
    </div>
    
</body>
</html>